@charset "UTF-8";

html
{
    color:black;

}

body
{
    color:black;
   
}

p
{

}

.tab 
{

}

.header
{

}

.toolbox
{

}

.sidebar
{

}

.breadcrumbs
{

}

.contentspace
{
    color:solid black;
}

