@charset "UTF-8";

















input[type="text"]
{
    background-color:yellow;
}

a{
    /*color: brown;*/
}
a:link, a:visited{
    color: red;
    transition: all 1s;
}
a:hover, a:active{
    color: green;
    transition: all 1s;
}

#bob::after{
    content:"my name is bob"
}