@charset "UTF-8";


html
{
    height:100%;
}
body
{
    height:100%;
    margin:0;
    background-color: black;
}
#header
{
    position: absolute;
    width: 1820px;
    height: 100px;
    left: 0px;
    top: 0px;
    bottom: 0;
    color: red;
    /* grid-area: header; */
    
}
#anniversary
{
    position: absolute;
    width: 1820px;
    height: 100px;
    left: 0px;
    top: 0px;
    bottom: 0;
    color: red;
    /* grid-area: header; */
    
}
#banner
{
   background-image: url("images/295446581_134583732596259_1006784769843229222_n.jpg");
   position: absolute;
    width: 1440px;
    height: 300px;
    left: 0;
    right: 380px;
    top: 70px;
    bottom: 592px;

    background-size: cover;
  
    
}
left module{
    position: absolute;
    width: 380px;
    height: 100%;
    left: 1440px;
    top: 100px;
    bottom: 0;
    background-color: #ffd700;
    background-image: url("");
    background-size: cover;
    color: black;
    /* grid-area: left; */
}

#leftmodule{
    border: white;
}

