@media screen and (max-width: 1000px) {
  .long {
    display: none;
  }

  .short {
    display: table-row;
  }
}

@media screen and (min-width: 1000px) {
  .short {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .stat {
    display: none;
  }

  thead td {
    font-size: 1.5em;
  }

  tr > td {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 1.5em;
  }
}

thead td {
  background-color: aqua;
}

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 80%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid black;
}
